#archive {
    background-color: #F9F9F9;
    .postsby {
        padding: 60px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        color: rgba(0, 0, 0, .6);
        text-align: center;
        font-size: 30px;
        color: #333;
    }
    .nav {
        padding: 10px;
        overflow: hidden;
        background: #fff;
        margin: 30px 10px;
        ul {
            li {

            }
        }
    }
    ul {
        &.default {
            li {
                border-bottom: 1px solid rgba(0, 0, 0, .05);
                padding-top: 30px;
                padding-bottom: 40px;
                line-height: 1.1;
                .block-image {
                    height: 120px;
                    margin: 2px 0 0 20px;
                    width: 140px;
                    border: 1px solid rgba(0, 0, 0, .15);
                    float: right;

                    background-color: #f0f0f0;
                    background-origin: border-box;
                    background-position: 50%;
                    background-size: cover;
                    display: block;
                    position: relative;
                }
                h2 {
                    font-size: 24px;
                    line-height: 1.3;
                    margin-left: -1.2px;
                    a {
                        color: inherit;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .desc {
                    color: rgba(0, 0, 0, .66);
                    line-height: 1.6;
                    margin: 5px 0 10px -.9px;
                }
                .info {
                    span {
                        margin-right: 18px;
                        color: #9b9b9b;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
        }
        &.page-team {
            li {
                display: flex;
                box-sizing: border-box;
                border-bottom: 1px solid #e0e0e0;
                margin-bottom: 30px;
                padding-bottom: 40px;
                &.imgleft {
                    .debate-personal__info {
                        padding-left: 0px;
                    }
                    .debate-personal__more {
                        text-align: left;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    height: 0;
                    visibility: hidden;
                    clear: both;
                }
                .debate-personal__img {
                    width: 250px;
                    height: auto;
                    background-position: center top;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .debate-personal__info {
                    padding-top: 0;
                    padding-left: 40px;
                    background: #fff;
                    flex: 1;
                    .debate-personal__left {
                        position: relative;
                        a {
                            outline: none;
                            color: #000;
                            text-decoration: unset;
                            -webkit-tap-highlight-color: transparent;
                            h3 {
                                font-size: 26px;
                                margin-top: 0;
                                margin-bottom: 10px;
                                line-height: 1.6;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        span {
                            margin: 10px 0;
                            display: block;
                            font-size: 18px;
                        }
                        p {
                            color: #6d6d6d;
                            font-size: 16px;
                            padding: 12px;
                            padding-left: 0;
                            line-height: 25px;
                        }
                    }
                    .ver-line {
                        float: left;
                        margin: 0 10px;
                        width: 1px;
                        height: 80px;
                        background: red;
                        margin-top: 60px;
                    }

                }
                .debate-personal__more {
                    margin-top: 12px;
                    text-align: right;
                    a {
                        background: none;
                        color: #881c21 !important;
                        border: 2px solid #881c21;
                        text-decoration: none;
                        padding: 8px 24px;
                        background-color: rgba(255, 255, 255, 0.2);
                        transition: 0.3s all ease;
                        &:hover {
                            color: #ffffff !important;
                            border: 2px solid #881c21;
                            background-color: #881c21;
                        }

                    }
                }
                &:first-child {
                    padding-top: 30px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.lawyer {
            li {
                float: left;
                margin: 10px;
                width: calc(25% - 20px);
                height: 400px;
                background: #fff;
                overflow: hidden;
                text-align: center;
                .icon {
                    position: relative;
                    cursor: pointer;
                    display: inline-block;
                    width: 234px;
                    height: 270px;
                    overflow: hidden;
                    a {
                        display: block;
                        height: 100%;
                        background-position: center top;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                h2 {
                    height: 35px;
                    line-height: 35px;
                    color: #373737;
                    padding-bottom: 5px;
                    font-size: 25px;
                    letter-spacing: 3px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .info {
                    padding: 0 10px;
                    text-align: center;
                    font-size: 14px;
                    color: #7b7b7b;
                    letter-spacing: 1px;
                    height: 22px;
                    line-height: 22px;
                }
            }
        }
    }
}