#footer {
  background-color: #050505;
  padding: 14px 32px;
  font-size: 14px;
  color: #8f8f8f;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  a {
    color: #bcbcbc;
    margin: 0 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    text-align: center;
    .left{
      margin-bottom: 5px;
    }
    .left, .right {
      float: none;
    }
  }
}