#home-honor {
    background-color: #f9f9f9;
    padding: 0 32px;
    .swiper-wrapper{
        height: 100px;
        margin:24px 0;
    }
    .swiper-slide{
        background-color: #f9f9f9;
    }
    .honor__image {
        float: left;
        margin-right: 24px;
        img {
            height: 100px;
            width: auto;
            display: block;
        }
    }
    .honor__content {
        font-size: 14px;
        line-height: 20px;
        display: table;
        height: 100px;
        p {
            display: table-cell;
            vertical-align: middle;
        }
    }

    @media only screen and (max-width: 1100px) {
    }
}