#home-research {
    margin: 60px;
    background-color: #ffffff;
    .home-research__title {
        text-align: center;
        h2 {
            font-size: 30px;
            b {
                font-weight: inherit;
                color: #881c21;
            }
        }
    }
    .home-research__nav {
        margin: 46px 0;
        margin-bottom: 12px;
        ul {
            display: flex;
            border-bottom: 2px solid #eee;
            li {
                flex: 1;
                text-align: center;
                a {
                    text-decoration: none;
                    display: inline-block;
                    text-align: center;
                    color: #6d6d6d;
                    border-bottom: 4px solid transparent;
                    transform: translateY(2px);
                    padding: 0 6px;
                    transition: 0.3s all ease;
                    i {
                        display: block;
                        font-size: 40px;
                        margin: 12px 0;
                    }
                    &:hover {
                        color: #bb4c51;
                        border-bottom: 4px solid #bb4c51;
                    }
                }
                &:first-child {
                    text-align: left!important;
                }
                &:last-child {
                    text-align: right;
                }
                &.active {
                    a {
                        color: #bb4c51;
                        border-bottom: 4px solid #bb4c51;
                    }
                }
            }
        }
    }
    .home-research__item {
        border-bottom: 1px solid #eee;
        padding-bottom: 12px;
        margin-bottom: 12px;
        cursor: default;
        .item__time {
            font-size: 12px;
            color: #999;
        }
        .item__post_title {
            h3 {
                font-size: 20px;
                font-weight: bold;
                font-family: $title-font;
                line-height: 28px;
                margin: 12px 0;
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                        color: #881c21;
                    }
                }
            }
        }
        .item__desc {
            p {
                font-size: 14px;
                color: #666;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
    .home-research__more {
        color: #881c21;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    @media only screen and (max-width: 800px) {
        margin: 60px 32px;
    }
}