#home-other {
    margin: 60px;
    background-color: #ffffff;
    .home-other__title {
        text-align: center;
        h2 {
            font-size: 30px;
            b {
                font-weight: inherit;
                color: #881c21;
            }
        }
    }

    .home-other__group {
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 64px;
        ul {
            li {
                float: left;
                width: 25%;
                margin-top: 34px;
                padding: 0 6px;
            }
        }
    }

    .home-other__item {
        width: 40%;
        float: left;
        .item__thumbnail {
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 130px;
            width: 40%;
            float: left;
        }
        .item__content {
            h3{
                margin-bottom: 8px;
            }
            p {
                color: #999;
                font-size: 12px;
                line-height: 1.8;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                cursor: default;
                overflow: hidden;
            }
            a{
                text-decoration: none;
                color: #000;
                transition: all 0.3s ease;
            }
        }
        &:hover{
            .item__content{
                a{
                    color: #881c21;
                    text-decoration: underline;
                }
            }
        }
    }
}