#top-header .container {
    padding: 5px;
	background-color: #fff;
}
  
.translate-menu {
   text-align:center;
   float: right;
	margin-right: 50px;
   
}
.translate-menu a {
	text-decoration: none; 
	font-size: 11px;
	color: #006f68;
	margin: 0 5px;
	border: 1px solid #006f68;
	border-radius: 10px;
	padding: 1px 10px 1px 10px;
	font-family: "Microsoft YaHei","微软雅黑","黑体","Univers","sans-serif;"; 
}
.translate-menu a:hover {
	font-weight:bold;
	border: 2px solid #006f68;
}
 
#wpcc_original_link {
   display: none;
}

#header {
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.08);
  position: relative;
  width: 100%;
  top: 0;
  z-index: 9; 
}

  #header .header__wrapper .header__logo {
    float: left; 
}
  #header .header__wrapper .header__menus {
    float: right; 
	margin-right:20px;
	margin-top: 39px;
}
  #header .header__logo img {
    display: block;
    margin: -22px 10px 0px 6px;
	height: 117px;
    width: auto; }
  #header .header__menus .min_menus {
    display: none;
    text-align: right;
    line-height: 40px; }
    #header .header__menus .min_menus a {
      text-decoration: none;
      display: inline-block; }
    #header .header__menus .min_menus i {
      font-size: 30px;
      color: #006f68; }
  #header .header__menus a {
    font-family: "Microsoft YaHei","微软雅黑","黑体","Univers","sans-serif;"; }
  #header .header__menus .header-menus__ul > li {
    float: left;
	  margin-left: 6px;
}
    #header .header__menus .header-menus__ul > li > a {
      display: block;
      color: #606060;
      font-size: 15px;
      padding: 0 15px;
      height: 50px;
      line-height: 50px;
      transition: all 0.3s ease;
      text-decoration: none; }
    #header .header__menus .header-menus__ul > li:hover > a {
      color: #006f68;
	  font-size:16px;
	  padding: 1 5px;}
    #header .header__menus .header-menus__ul > li:hover ul {
      opacity: 0.9;
      overflow: visible;
      display: block; }
    #header .header__menus .header-menus__ul > li.current-menu-item > a, #header .header__menus .header-menus__ul > li.current_page_item > a, #header .header__menus .header-menus__ul > li.current-menu-parent > a {
      color: #006f68;
		font-weight:bold;
		border-bottom: 3px solid #006f68;
}
      #header .header__menus .header-menus__ul > li.current-menu-item > a[href*="#home-"], #header .header__menus .header-menus__ul > li.current_page_item > a[href*="#home-"], #header .header__menus .header-menus__ul > li.current-menu-parent > a[href*="#home-"] {
        color: #333;
        background-color: #ffffff; }
    #header .header__menus .header-menus__ul > li.current-menu-item:hover > a[href*="#home-"], #header .header__menus .header-menus__ul > li.current_page_item:hover > a[href*="#home-"], #header .header__menus .header-menus__ul > li.current-menu-parent:hover > a[href*="#home-"] {
      color: #ffffff;
      background-color: #aad2b7; }
  #header .header__menus .header-menus__ul ul {
    opacity: 0;
    overflow: hidden;
    display: none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.08);
    transition: all 0.3s ease; }
    #header .header__menus .header-menus__ul ul > li > a {
      display: block;
      color: #333;
      font-size: 15px;
      font-weight: 700;
      padding: 0 15px;
      height: 43.3333333333px;
      line-height: 43.3333333333px;
      transition: all 0.3s ease;
      text-decoration: none; }
    #header .header__menus .header-menus__ul ul > li:hover > a {
      color: #ffffff;
      background-color: #006f68; }
}
@media only screen and (max-width: 940px) {
   #header .header__menus .min_menus {
      display: block;
      width: 50%;
 }
    #header .header-menus__ul {
      display: none;
      position: absolute;
      left: 0;
      top: 25px;
      width: 80%;
      right: 0;
      background-color: #fff;
      overflow: hidden;
      overflow-y: auto;
      max-height: 500px; }
      #header .header-menus__ul.active {
        display: block; }
      #header .header-menus__ul > li {
        width: 80%; }
        #header .header-menus__ul > li ul {
          opacity: 1 !important;
          overflow: visible !important;
          display: block !important;
          position: relative; }
          #header .header-menus__ul > li ul li {
            padding-left: 10px; }
        }
}
