#home-news {
  margin: 80px;}

  #home-news .home-news__nav {
    margin: 46px 0;
    margin-bottom: 12px; }
    #home-news .home-news__nav ul {
      display: flex;
      border-bottom: 2px solid #eee; }
      #home-news .home-news__nav ul li {
        flex: 1;
        text-align: center; }
        #home-news .home-news__nav ul li a {
          text-decoration: none;
          display: inline-block;
          text-align: center;
          color: #6d6d6d;
          border-bottom: 4px solid transparent;
          transform: translateY(2px);
          padding: 0 6px;
          transition: 0.3s all ease; }
          #home-news .home-news__nav ul li a i {
            display: block;
            font-size: 40px;
            margin: 12px 0; }
          #home-news .home-news__nav ul li a:hover {
            color: #006f68;
            border-bottom: 4px solid #006f68; }
        #home-news .home-news__nav ul li:first-child {
          text-align: left; }
        #home-news .home-news__nav ul li:last-child {
          text-align: right; }
        #home-news .home-news__nav ul li.active a {
          color: #006f68;
          border-bottom: 4px solid #006f68; }
  #home-news .home-news__item {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
    margin-bottom: 12px;
    cursor: default; }
    #home-news .home-news__item .item__time {
      font-size: 12px;
      color: #999; }
    #home-news .home-news__item .item__post_title h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
      margin: 12px 0; }
      #home-news .home-news__item .item__post_title h3 a {
        color: inherit;
        text-decoration: none; }
        #home-news .home-news__item .item__post_title h3 a:hover {
          text-decoration: underline;
          color: #006f68; }
    #home-news .home-news__item .item__desc p {
      font-size: 14px;
      color: #666;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden; }
  @media only screen and (max-width: 800px) {
    #home-news {
      margin: 60px 32px; } }

