#home-snapshot {
  margin: 60px 0;
  background-color: #fff; 
  padding-bottom: 20px;
}
  #home-snapshot a {
    text-decoration: none;
}
#home-snapshot .home-snapshot__title h2 {
      margin-bottom: 10px; }
#home-snapshot .read_more {
	text-align: center; 
}   
 #home-snapshot .read_more a {
      background: none;
      color: #006f68;
      border: 2px solid #006f68;
      line-height: 50px;
      text-decoration: none;
      padding: 10px 50px;
		border-radius: 30px;      
      transition: 0.3s all ease; }
#home-snapshot .read_more a b{
	font-weight:bold;
}
  #home-snapshot .read_more a:hover {
        color: #fff;
        background-color: #006f68;}
  #home-snapshot .home-snapshot__group {
    margin: 60px -16px; }
  #home-snapshot .home-snapshot__item {
    padding: 0 16px; }
    #home-snapshot .home-snapshot__item .snapshot__avatar {
      background-size: cover;
      background-position: top center;
      height: 0;
      padding-bottom: 100%;
      opacity: .8;
      transition: 0.6s all ease; }
    #home-snapshot .home-snapshot__item .snapshot__content {
      margin-top: 18px; }
      #home-snapshot .home-snapshot__item .snapshot__content h3 {
        font-size: 18px;
        transition: 0.3s all ease; }
      #home-snapshot .home-snapshot__item .snapshot__content p {
        margin: 16px 0;
        font-size: 12px;
 }
        #home-snapshot .home-snapshot__item .snapshot__content p span {
          position: relative;
          margin: 0 8px; }
          #home-snapshot .home-snapshot__item .snapshot__content p span:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 10%;
            bottom: 10%;
            left: 0;
            background-color: #fff;
            width: 1px;
            margin: 0 6px;
            margin-left: 1px; }
    #home-snapshot .home-snapshot__item:hover .snapshot__avatar {
      opacity: 1; }
    #home-snapshot .home-snapshot__item:hover .snapshot__content h3 {
       font-weight: bold; }

