#home-about {
  position: relative;	
	height: 350px;
}

#home-about .map-container {
	width: 50%;
	position: absolute;
	left:50px;
	top: 0;
    bottom: 0;
    z-index: 8;
	padding-top: 40px;

}

#home-about .map {
	height: 250px;
	background-image:url("../resources/images/map_s.jpg");
	overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;

}
  #home-about .about__content {
    position: absolute;
    width: 45%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
    padding: 24px; }
    #home-about .about__content h3 {
      font-size: 26px;
      margin: 20px 0;
      margin-top: 0;
      padding: 30px 20px;
      border-bottom: 1px solid #fff;
	  font-weight: bold; }
  #home-about .info_content {
    padding: 0 20px; }
    #home-about .info_content p {
      color: #fff;
      line-height: 2em;
      font-size: 14px; }
    #home-about .info_contnet span {
      color: #666;
      margin-right: 10px; }
    #home-about .info_contnet a {
      color: #333;
      text-decoration: none;
      transition: all ease 0.3s; }
      #home-about .info_contnet a:hover {
        text-decoration: underline; }
  #home-about .info_img img {
    display: block;
    margin: 10px;
    width: 120px;
    height: 120px;
    float: left; }
  #home-about .info_img:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both; }
  @media only screen and (max-width: 800px) {
    #home-about .about__content {
      position: relative;
      width: 100%;
      height: auto; }
      #home-about .about__content h3 {
        margin-top: 0; } }

