#home-snapshot {
  margin: 60px 20px;
  background-color: #fff; 
  padding-bottom: 20px;
}
  #home-snapshot a {
    text-decoration: none;
}
#home-snapshot .home-snapshot__title h2 {
      margin-bottom: 10px; }
  #home-snapshot .home-snapshot__group {
    margin: 60px -16px;
    margin-bottom:0px;
 }
  #home-snapshot .home-snapshot__item {
    padding: 0 16px; }
    #home-snapshot .home-snapshot__item .snapshot__avatar {
      background-size: cover;
      background-position: top center;
      height: 0;
      padding-bottom: 100%;
      opacity: .8;
      transition: 0.6s all ease; }
    #home-snapshot .home-snapshot__item .snapshot__content {
      margin-top: 18px; }
      #home-snapshot .home-snapshot__item .snapshot__content h3 {
        font-size: 18px;
        transition: 0.3s all ease; }
      #home-snapshot .home-snapshot__item .snapshot__content p {
        margin: 16px 0;
        font-size: 12px;
 }
    #home-snapshot .home-snapshot__item:hover .snapshot__avatar {
      opacity: 1; }
    #home-snapshot .home-snapshot__item:hover .snapshot__content h3 {
       font-weight: bold; }

