#home-slogon{
	height: 500px;
}
#home-slogon .home-slogon__background{
	background-image:url("../resources/images/frontbanner.jpg");
	height:100%;
}
#home-slogon .home-slogon__background h2 {
	padding-top:200px;
}

