#publicreport {
  margin-top: 100px;	
  padding-bottom: 30px;
  background-color: #efefef;
  }
  #publicreport .publicreport__title {
    text-align: center;
    padding-top: 30px; }
    #publicreport .publicreport__title h2 {
      font-size: 30px;
	  color:#006f68;
	  font-weight: bold;}
#publicreport .publicreport__group {
    margin: 60px 20px; 
}
    #publicreport .publicreport__group .publicreport_item {
      width: 45%;
	  height: 250px;
	  display: block;
      margin: 0 20px;
	  margin-bottom: 30px;
      float: left; 
	  text-decoration: none;
      color: inherit;
      background: #006f68;
      box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
      }
    #publicreport .publicreport__group .item__image {
      margin: -1px;
      margin-bottom: 8px;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
#publicreport .publicreport__group .item__info {
	text-align: center;
	color:#fff;
}

#publicreport .publicreport__group .item__info h3 {	
	font-weight: bold;
	font-size: 24px;
	padding-top:40px;
}
#publicreport .publicreport__group .item__info p {
	font-size: 16px;
	padding-top:10px;
	text-align: center;
	color: #fff;
}
#publicreport .publicreport__group.item__info .item__cta{
	margin-top: 30px;
}
#publicreport .publicreport__group .item__info a {
      background: none;
      color: #fff;
      border: 2px solid #fff;
      line-height: 50px;
      text-decoration: none;
      padding: 12px 40px;
      transition: 0.3s all ease; }
#publicreport .publicreport__group .item__info a:hover {
        font-weight: bold;
        background-color: transparent; }

