#single .title-container {
  padding-top: 42px; }
  #single .title-container .title {
    font-size: 28px;
    color: #222;
    margin-bottom: 14px;
    font-weight: 700;
    line-height: 1.4; }
  #single .title-container .info span {
    margin-right: 18px;
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400; }
#single .post-content {
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 17px;
  color: #505050;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.7;
  min-height: 200px;
  font-weight: 400;
  border: none;
  padding: 0;
  margin-top: 24px; }
  #single .post-content p {
    margin-bottom: 20px; }
#single .post-content h1 {
  line-height: 29px;
  margin: 20px 0;
  color: #212121; }
#single .post-content h1, #single .post-content h1 .font-size-12, #single .post-content h1 .font-size-16,
#single .post-content h1 .font-size-20, #single .post-content h1 .font-size-23 {
  font-size: 22px !important; }
#single .post-content ul {
  margin: 20px 0;
  list-style: disc;
  padding-left: 24px; }
#single .post-content ul li {
  list-style: disc; }
#single .post-content ol {
  margin: 20px 0;
  padding-left: 24px; }
#single .post-content ol, #single .post-content ol li {
  list-style-type: decimal; }
#single .post-content img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  background-color: #f0f2f4;
  border: none; }
  #single .post-content img.aligncenter {
    text-align: center; }
  #single .post-content img.alignright {
    text-align: right; }
#single .post-content img.loaded {
  background-color: transparent; }
#single .post-content .img-box {
  margin-bottom: 20px; }
#single .post-content figure {
  text-align: center;
  margin-bottom: 20px;
  position: relative; }
#single .post-content figcaption {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  width: 90%; }
#single .post-content figcaption:empty {
  display: none; }

